html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.container{
  display: flex;
  justify-content: space-evenly;
}

input, button{
  height: 25px;
}

#result{
  font-size: 25px;
  font-weight: bold;
}